<ion-header>
  <ion-toolbar>
    <ion-title>
      Grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
      <ion-col>7</ion-col>
      <ion-col>8</ion-col>
      <ion-col>9</ion-col>
      <ion-col>10</ion-col>
      <ion-col>11</ion-col>
      <ion-col>12</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2</ion-col>
      <ion-col>4</ion-col>
      <ion-col>6</ion-col>
      <ion-col>8</ion-col>
      <ion-col>10</ion-col>
      <ion-col>12</ion-col>
      <ion-col>14</ion-col>
      <ion-col>16</ion-col>
      <ion-col>18</ion-col>
      <ion-col>20</ion-col>
      <ion-col>22</ion-col>
      <ion-col>24</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>3</ion-col>
      <ion-col>6</ion-col>
      <ion-col>9</ion-col>
      <ion-col>12</ion-col>
      <ion-col>15</ion-col>
      <ion-col>18</ion-col>
      <ion-col>21</ion-col>
      <ion-col>24</ion-col>
      <ion-col>27</ion-col>
      <ion-col>30</ion-col>
      <ion-col>33</ion-col>
      <ion-col>36</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col>8</ion-col>
      <ion-col>12</ion-col>
      <ion-col>16</ion-col>
      <ion-col>20</ion-col>
      <ion-col>24</ion-col>
      <ion-col>28</ion-col>
      <ion-col>32</ion-col>
      <ion-col>36</ion-col>
      <ion-col>40</ion-col>
      <ion-col>44</ion-col>
      <ion-col>48</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col>10</ion-col>
      <ion-col>15</ion-col>
      <ion-col>20</ion-col>
      <ion-col>25</ion-col>
      <ion-col>30</ion-col>
      <ion-col>35</ion-col>
      <ion-col>40</ion-col>
      <ion-col>45</ion-col>
      <ion-col>50</ion-col>
      <ion-col>55</ion-col>
      <ion-col>60</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
      <ion-col>12</ion-col>
      <ion-col>18</ion-col>
      <ion-col>24</ion-col>
      <ion-col>30</ion-col>
      <ion-col>36</ion-col>
      <ion-col>42</ion-col>
      <ion-col>48</ion-col>
      <ion-col>54</ion-col>
      <ion-col>60</ion-col>
      <ion-col>66</ion-col>
      <ion-col>72</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col>14</ion-col>
      <ion-col>21</ion-col>
      <ion-col>28</ion-col>
      <ion-col>35</ion-col>
      <ion-col>42</ion-col>
      <ion-col>49</ion-col>
      <ion-col>56</ion-col>
      <ion-col>63</ion-col>
      <ion-col>70</ion-col>
      <ion-col>77</ion-col>
      <ion-col>84</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>8</ion-col>
      <ion-col>16</ion-col>
      <ion-col>24</ion-col>
      <ion-col>32</ion-col>
      <ion-col>40</ion-col>
      <ion-col>48</ion-col>
      <ion-col>56</ion-col>
      <ion-col>64</ion-col>
      <ion-col>72</ion-col>
      <ion-col>80</ion-col>
      <ion-col>88</ion-col>
      <ion-col>96</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col>18</ion-col>
      <ion-col>27</ion-col>
      <ion-col>36</ion-col>
      <ion-col>45</ion-col>
      <ion-col>54</ion-col>
      <ion-col>63</ion-col>
      <ion-col>72</ion-col>
      <ion-col>81</ion-col>
      <ion-col>90</ion-col>
      <ion-col>99</ion-col>
      <ion-col>108</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10</ion-col>
      <ion-col>20</ion-col>
      <ion-col>30</ion-col>
      <ion-col>40</ion-col>
      <ion-col>50</ion-col>
      <ion-col>60</ion-col>
      <ion-col>70</ion-col>
      <ion-col>80</ion-col>
      <ion-col>90</ion-col>
      <ion-col>100</ion-col>
      <ion-col>110</ion-col>
      <ion-col>120</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>11</ion-col>
      <ion-col>22</ion-col>
      <ion-col>33</ion-col>
      <ion-col>44</ion-col>
      <ion-col>55</ion-col>
      <ion-col>66</ion-col>
      <ion-col>77</ion-col>
      <ion-col>88</ion-col>
      <ion-col>99</ion-col>
      <ion-col>110</ion-col>
      <ion-col>121</ion-col>
      <ion-col>131</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>12</ion-col>
      <ion-col>24</ion-col>
      <ion-col>36</ion-col>
      <ion-col>48</ion-col>
      <ion-col>60</ion-col>
      <ion-col>72</ion-col>
      <ion-col>84</ion-col>
      <ion-col>96</ion-col>
      <ion-col>108</ion-col>
      <ion-col>120</ion-col>
      <ion-col>132</ion-col>
      <ion-col>144</ion-col>
    </ion-row>
  </ion-grid>
  <p>Just a simple multiplication chart to show of the ion-grid (also ion-row and ion-col), also im not
    sure how to prevent the grid from overflowing on the page :(
  </p>
</ion-content>
